extends layout.pug

block content
    include ./partials/_header.pug
    .app--tweet
      form(action='/', method='post')
        .circle--fluid
          .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
            .app--avatar(style='background-image: url(' + data.timeline[0].user.profile_image_url + ')')
              img(src=data.timeline[0].user.profile_image_url)
            textarea#tweet-textarea.circle--textarea--input(name="tweets" maxlength ="140" placeholder="What's happening?")
            |  
            strong#tweet-char.app--tweet--char 140
          .circle--fluid--cell.align-bottom
            button.button-primary Tweet
    .bounds.app--body
      .app--section--header
        .grid-33
          .app--section--heading
            h2 Timeline
        .grid-33
          .app--section--heading
            strong 129
            h2 Following
        .grid-33
          .app--section--heading
            h2 Direct Messages
      include ./partials/_timeline.pug
      include ./partials/_following.pug
      include ./partials/_direct_messages.pug